<h4>List of the Users:</h4>

<div *ngIf="showTable; then yes else no"></div>
    <ng-template #yes>
<table class="table table-striped">
        <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Mobile No.</th>
                    <th scope="col">Address</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
        </thead>
            <tbody>
                    <tr *ngFor="let user of userObjectArray">
                        <th scope="row">{{user.id}}</th>
                        <td>{{user.Empname}}</td>
                        <td>{{user.Mno}}</td>
                        <td>{{user.address}}</td>
                        <td><input type="button" class="btn btn-danger" value="Remove"  (click)="removeRow(user.id)" /></td>
                        <td><input type="button" class="btn btn-warning" value="Edit"  (click)="EditRow(user.id)"/></td>
                    </tr>
            </tbody>
</table>
</ng-template>
<ng-template #no>
    {{noRecordsMsg}}
</ng-template>
   
